[project]
name = "myapp"
version = "0.1.0"
description = "description
readme = "README.md"
requires-python = ">=3.12"
dependencies = []
[build-system]

requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.ruff]
line-length = 100
